var baseUrl = "https://app.mmtcapp.com";
var c = {};
c.absUrl = function (url, imgw) {
    if (url) {
        if (url.indexOf('://') !== -1) {
            return url;
        }
        if (imgw) {
            if (typeof imgw == 'boolean') {
                if (url.indexOf('?') == -1) {
                    url += '?'
                } else {
                    url += '&'
                }
                url += '_t=' + getDate().getTime();
            } else {
                url += '!' + imgw + 'x' + imgw;
            }
        }
        return baseUrl + url;
    }
    return '';
};
c.isEmpty = function (v) {
    return !v || v == 0;
};
c.str2attr = function (strs) {
    if (strs) {
        strs = strs.split(',');
        return strs;
    }
    return [];
};
c.zanedClass = function (item) {
    if (item.zaned === true) {
        return 'zaned';
    }
    return '';
};
c.parseInt = function (v) {
    return parseInt(v);
};
c.mToKm = function (v, obj) {
    var arr = [];
    if (!v) {
        return 0
    }
    v = parseInt(v);
    if (v > 1000) {
        var num = v / 1000;
        return num.toFixed(2) + 'km'
    } else {
        return v + 'm'
    }
};

c.orderNumber = function (obj, type) {
    // A:未支付 - 0  B:已支付 { 全部未使用：1，部分完成（含部分退款、部分已经写好日记与未使用）：2，全部使用：3，完成退款：4}
    var status = 0,
        flag = false;
    if (obj.payed == 1 && obj.order_type == 0) {
        if (obj.count > 0 && obj.count == obj.items.length) {
            if (obj.count_used == 0 && obj.count_refund == 0) { //全部未使用
                status = 1;
                if (type == 2) {
                    flag = true;
                }
            } else if (obj.count_used > 0 || obj.count_refund > 0 || obj.count_noted > 0) {
                status = 2;
                flag = true;
            } else if (obj.count_used == obj.count) {
                status = 3;
                if (type == 3)
                    flag = true;
            } else if (type == 0 || type == 1 || type == 4) {
                flag = true;
            }
            if (obj.count_refund == obj.count) {
                status = 4;
            }
        }
    }
    return {
        status: status,
        flag: flag
    };
};

// 计算项目详情服务总时间
c.numAbs = function (item) {
    var num = 0;
    for (var i = 0; i < item.length; i++) {
        num += parseInt(item[i].time)
    }
    return num;
}

// 计算商品详情使用商品
c.item_brand_cf = function (item) {
    var arr = [],
        j = 0;
    for (var i = 0; i < item.length / 2; i++) {
        if (item[j + 1]) {
            arr.push([item[j], item[j + 1]])
        } else {
            arr.push([item[j]])
        }
        j = i + 2
    }
    return arr;
}
module.exports = c;